Source: http://archive.ics.uci.edu/ml/machine-learning-databases/kddcup99-mld/kddcup99.html

In [136]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, BaggingClassifier, IsolationForest, RandomTreesEmbedding
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis

In [ ]:
# Possible change class to binary

In [2]:
train = pd.read_csv('../Datasets/kddcup99/train.csv', header=None)
display(train.shape)
train.head()

(494021, 42)

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,0,0,0,181,5450,0,0,0,0,...,9,1.0,0.0,0.11,0.0,0.0,0.0,0.0,0.0,0
1,0,0,0,0,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,0
2,0,0,0,0,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0
3,0,0,0,0,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,0
4,0,0,0,0,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,0

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494021 entries, 0 to 494020
Data columns (total 42 columns):
0     494021 non-null int64
1     494021 non-null int64
2     494021 non-null int64
3     494021 non-null int64
4     494021 non-null int64
5     494021 non-null int64
6     494021 non-null int64
7     494021 non-null int64
8     494021 non-null int64
9     494021 non-null int64
10    494021 non-null int64
11    494021 non-null int64
12    494021 non-null int64
13    494021 non-null int64
14    494021 non-null int64
15    494021 non-null int64
16    494021 non-null int64
17    494021 non-null int64
18    494021 non-null int64
19    494021 non-null int64
20    494021 non-null int64
21    494021 non-null int64
22    494021 non-null int64
23    494021 non-null int64
24    494021 non-null float64
25    494021 non-null float64
26    494021 non-null float64
27    494021 non-null float64
28    494021 non-null float64
29    494021 non-null float64
30    494021 non-null float64
31    494021 non-null int64
32    494021 non-null int64
33    494021 non-null float64
34    494021 non-null float64
35    494021 non-null float64
36    494021 non-null float64
37    494021 non-null float64
38    494021 non-null float64
39    494021 non-null float64
40    494021 non-null float64
41    494021 non-null int64
dtypes: float64(15), int64(27)
memory usage: 158.3 MB

In [7]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
0,494021.0,47.979302,707.746472,0.0,0.00,0.0,0.00,58329.0
1,494021.0,1.189338,0.960704,0.0,0.00,2.0,2.00,2.0
2,494021.0,8.392376,4.973796,0.0,9.00,9.0,10.00,65.0
3,494021.0,0.835960,1.579212,0.0,0.00,0.0,0.00,10.0
4,494021.0,3025.610296,988218.101050,0.0,45.00,520.0,1032.00,693375640.0
5,494021.0,868.532425,33040.001252,0.0,0.00,0.0,0.00,5155468.0
6,494021.0,0.000045,0.006673,0.0,0.00,0.0,0.00,1.0
7,494021.0,0.006433,0.134805,0.0,0.00,0.0,0.00,3.0
8,494021.0,0.000014,0.005510,0.0,0.00,0.0,0.00,3.0
9,494021.0,0.034519,0.782103,0.0,0.00,0.0,0.00,30.0
10,494021.0,0.000152,0.015520,0.0,0.00,0.0,0.00,5.0
11,494021.0,0.148247,0.355345,0.0,0.00,0.0,0.00,1.0
12,494021.0,0.010212,1.798326,0.0,0.00,0.0,0.00,884.0
13,494021.0,0.000111,0.010551,0.0,0.00,0.0,0.00,1.0
14,494021.0,0.000036,0.007793,0.0,0.00,0.0,0.00,2.0
15,494021.0,0.011352,2.012718,0.0,0.00,0.0,0.00,993.0
16,494021.0,0.001083,0.096416,0.0,0.00,0.0,0.00,28.0
17,494021.0,0.000109,0.011020,0.0,0.00,0.0,0.00,2.0
18,494021.0,0.001008,0.036482,0.0,0.00,0.0,0.00,8.0
19,494021.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
20,494021.0,0.000000,0.000000,0.0,0.00,0.0,0.00,0.0
21,494021.0,0.001387,0.037211,0.0,0.00,0.0,0.00,1.0
22,494021.0,332.285690,213.147412,0.0,117.00,510.0,511.00,511.0
23,494021.0,292.906557,246.322817,0.0,10.00,510.0,511.00,511.0
24,494021.0,0.176687,0.380717,0.0,0.00,0.0,0.00,1.0
25,494021.0,0.176609,0.381017,0.0,0.00,0.0,0.00,1.0
26,494021.0,0.057433,0.231623,0.0,0.00,0.0,0.00,1.0
27,494021.0,0.057719,0.232147,0.0,0.00,0.0,0.00,1.0
28,494021.0,0.791547,0.388189,0.0,1.00,1.0,1.00,1.0
29,494021.0,0.020982,0.082205,0.0,0.00,0.0,0.00,1.0
30,494021.0,0.028997,0.142397,0.0,0.00,0.0,0.00,1.0
31,494021.0,232.470778,64.745380,0.0,255.00,255.0,255.00,255.0
32,494021.0,188.665670,106.040437,0.0,46.00,255.0,255.00,255.0
33,494021.0,0.753780,0.410781,0.0,0.41,1.0,1.00,1.0
34,494021.0,0.030906,0.109259,0.0,0.00,0.0,0.04,1.0
35,494021.0,0.601935,0.481309,0.0,0.00,1.0,1.00,1.0
36,494021.0,0.006684,0.042133,0.0,0.00,0.0,0.00,1.0
37,494021.0,0.176754,0.380593,0.0,0.00,0.0,0.00,1.0
38,494021.0,0.176443,0.380919,0.0,0.00,0.0,0.00,1.0
39,494021.0,0.058118,0.230590,0.0,0.00,0.0,0.00,1.0
40,494021.0,0.057412,0.230140,0.0,0.00,0.0,0.00,1.0
41,494021.0,3.932560,2.297779,0.0,4.00,5.0,5.00,22.0

In [3]:
test = pd.read_csv('../Datasets/kddcup99/test.csv', header=None)
display(test.shape)
test.head()

(274443, 42)

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0,1.0,11.0,0.0,105,146,0,0,0,0,...,254,1.00,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,1.0,11.0,0.0,105,146,0,0,0,0,...,254,1.00,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,1.0,11.0,0.0,105,146,0,0,0,0,...,254,1.00,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0.0,0.0,0.0,29,0,0,0,0,0,...,3,0.30,0.30,0.3,0.0,0.0,0.0,0.0,0.0,0.0
4,0,1.0,11.0,0.0,105,146,0,0,0,0,...,253,0.99,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
# preprocess
# normalize values to (0;1)
scaler = MinMaxScaler()
scaler.fit(train_x)

train_x = pd.DataFrame(scaler.transform(train_x))
test_x = pd.DataFrame(scaler.transform(test_x))

c:\users\j.vargovsky\appdata\local\programs\python\python37\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [67]:
def split_xy(data):
    y = train.columns[-1]
    return (data.drop(y, axis=1), data[y])

In [68]:
train_x, train_y = split_xy(train)

display(train_x.shape)
display(train_y.shape)

(494021, 41)

(494021,)

In [69]:
test_x, test_y = split_xy(test)

display(test_x.shape)
display(test_y.shape)

(274443, 41)

(274443,)

In [70]:
model = RandomForestClassifier(n_estimators=10, max_depth=9, min_samples_split=6, n_jobs=12, random_state=42)
model.fit(train_x, train_y)
model.score(test_x, test_y)

0.7441836738411983

In [120]:
model = DecisionTreeClassifier(random_state=42)
model.fit(train_x, train_y)
model.score(test_x, test_y)

0.6796602573211924

In [122]:
baseModel = DecisionTreeClassifier(random_state=42)
model = AdaBoostClassifier(base_estimator=baseModel, n_estimators=20, random_state=42)

model.fit(train_x, train_y)
model.score(test_x, test_y)

0.7963730173478646

In [132]:
baseModel = DecisionTreeClassifier(random_state=42)
model = BaggingClassifier(base_estimator=baseModel, n_estimators=20, max_features=0.5, n_jobs=-1, random_state=42)

model.fit(train_x, train_y)
model.score(test_x, test_y)

0.7430723319596418

In [75]:
baseModel = RandomForestClassifier(n_estimators=10, max_depth=9, min_samples_split=6, n_jobs=12, random_state=42)
model = AdaBoostClassifier(base_estimator=baseModel, n_estimators=10, random_state=42)

model.fit(train_x, train_y)
model.score(test_x, test_y)

0.7455938027204192

In [53]:
model = GaussianNB()
model.fit(train_x, train_y)
model.score(test_x, test_y)

0.5642373826259005

In [77]:
model = LinearDiscriminantAnalysis(solver='svd')
model.fit(train_x, train_y)
model.score(test_x, test_y)

c:\users\j.vargovsky\appdata\local\programs\python\python37\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

0.5873678687377707

In [78]:
model = LinearDiscriminantAnalysis(solver='lsqr')
model.fit(train_x, train_y)
model.score(test_x, test_y)

0.5711787147057859

In [83]:
model = QuadraticDiscriminantAnalysis()
model.fit(train_x, train_y)
model.score(test_x, test_y)

c:\users\j.vargovsky\appdata\local\programs\python\python37\lib\site-packages\sklearn\discriminant_analysis.py:686: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")

0.7397674562659642